.homepage {
  background-color:#12263A;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: 90pc;
  height: 70pc;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  color: #7C9EB2;
  text-align: center;
  font-family: fantasy;
}
.home-links {
  display: flex;
}

.home-button  {
  width: 180px;
  height: 100px;
  background-color: #7C9EB2;
  color: #12263A;
  font-size: larger;
  border-radius: 10px;
  font-family: fantasy;
  margin: 15px;
}
#description {
  color: #7C9EB2;
}
.title-div {
  margin-top: 10px;
}
.contacts {
  margin-top: 40px;
}
.photo-home {
  height: 400px;
  width: 560px;
 
  border-radius: 10px;
  margin-bottom: 30px;
}

p {
  font-size: larger;
  margin-left: 120px;
  margin-right: 120px;
}