.photo-poker {
  height: 460px;
  width: 640px;
  margin-bottom: 50px;
  border-radius: 10px;
}

.photo-poker2 {
  height: 400px;
  width: 330px;
  margin-top: 50px;
  border-radius: 10px;
  border: aquamarine 2px;
}