.portfolio-container {
  margin-left: 40px;
  margin-right: 40px;

}

.project {
  margin-top: 50px;
}

h2 {
  color: aquamarine;
}

h1 {
  color: aquamarine;
}
.map-button {
  width: 80px;
  height: 50px;
  background-color: aquamarine;
  border-radius: 5px;
  color: #12263A;
  font-family: fantasy;
  margin-right: 15px;
  margin-left: 10px;
  margin-top: 10px;
  margin-bottom: 10px;

}

.project-links {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

