.portfolio-container {
  margin-left: 40px;
  margin-right: 40px;

}

.project {
  margin-top: 50px;
}

h2 {
  color: aquamarine;
}

h1 {
  color: aquamarine;
  margin-top: 30px;
  margin-bottom: 30px;
}
.map-button {
  width: 80px;
  height: 50px;
  background-color: aquamarine;
  border-radius: 5px;
  color: #12263A;
  font-family: fantasy;
  margin-right: 15px;
  margin-left: 10px;
  margin-top: 5px;
  margin-bottom: 5px;

}

.project-links {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.photo-portfolio {
  height: 200px;
  width: 150px;
  margin: 10px;
}

.photo-space {
  height: 200px;
  width: 320px;
  margin: 10px;
}

.portfolio-p {
  margin-left: 180px;
  margin-right: 180px;
}

.port-skills {
  color: pink;
}